# Use Naive Bayes to classify SMS message as ham or spam

In [7]:
import pandas as pd
df = pd.read_table('./SpamDetection/smsspamcollection/SMSSpamCollection',header = None,sep = '\t',names = ['label','SMSMessage'])
df.head()

  label                                         SMSMessage
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.head()

  label                                         SMSMessage
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df['label'] = df['label'].map({'ham':0,'spam':1})

In [9]:
df.head()

   label                                         SMSMessage
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
label         5572 non-null int64
SMSMessage    5572 non-null object
dtypes: int64(1), object(1)
memory usage: 87.1+ KB

# Bag of Words

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df['SMSMessage'],df['label'],random_state = 0)

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()

In [15]:
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [20]:
X_train = count_vector.fit_transform(X_train)
X_test = count_vector.transform(X_test)

In [17]:
type(X_train)

scipy.sparse.csr.csr_matrix

In [24]:
df.shape[0]

5572

In [40]:
print('Number of rows in the total set:%d' %df.shape[0])
print('Number of rows in the training set:%d' %X_train.shape[0])
print('Number of rows in the test set:%d' %X_test.shape[0])

Number of rows in the total set:5572
Number of rows in the training set:4179
Number of rows in the test set:1393

In [45]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [50]:
prediction = naive_bayes.predict(X_test)

In [52]:
from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score
print('Accuracy score %f'%accuracy_score(y_test,prediction))
print('Precision score %f' %precision_score(y_test,prediction))
print('Recall score %f' %recall_score(y_test,prediction))
print('f1 score %f' %f1_score(y_test,prediction))

Accuracy score 0.988514
Precision score 0.988439
Recall score 0.924324
f1 score 0.955307